* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #0b0c10;
  color: #c5c6c7;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 800px;
  background: #1f2833;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid #66fcf1;
  box-shadow: 0 15px 30px rgb(0, 0, 0, 0.8);
}

header {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 40px;
  color: #fff;
  letter-spacing: 2px;
}

h1 span {
  color: #66fcf1;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

input {
  width: 60%;
  padding: 15px;
  background: #0b0c10;
  border: 1px solid #45a29e;
  color: #66fcf1;
  font-size: 18px;
  outline: none;
  border-radius: 5px;

  &:focus {
    box-shadow: 0 0 15px rgb(102, 252, 241, 0.3);
  }
}

button {
  padding: 15px 30px;
  background: #45a29e;
  color: #0b0c10;
  font-weight: 700;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;

  &:hover {
    background: #66fcf1;
    box-shadow: 0 0 20px rgba(102, 252, 241, 0.5);
  }
}

.escondido {
  display: none;
}

#card-jogo {
  display: flex;
  gap: 30px;
  background: #0b0c10;
  padding: 20px;
  border-radius: 10px;
  border-left: 5px solid #45a29e;
  animation: slideUp 0.5s ease;
}

.imagem-container {
  flex: 1;
}

img#img-capa {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid #1f2833;
}

.info-jogo {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.tags {
  display: flex;
  gap: 20px;
}

.tags span {
  padding: 10px 15px;
  background: #1f2833;
  border-radius: 5px;
  font-size: 18px;
  color: #c5c6c7;
}

.tags strong {
  color: #66fcf1;
  font-size: 22px;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
